.form-section {
    background-color: #fff8ec;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

button {
    background-color: #f7b85b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    
    margin-top: 10px;
}

button:hover {
    background-color: #e0a84c;
}
.modal {
    display: none; /* sẽ bật khi gọi openModal() */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* FLEXBOX để căn giữa */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 15px auto;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    box-sizing: border-box;
}
